-unless user_signed_in?
	= link_to 'Sign in', new_user_session_path 
	or
	= link_to 'Sign up', new_user_registration_path 
-else
	%br
	= link_to 'Ask your question', new_question_path 

-@questions.each do |q| 
	%p= link_to q.title, question_path(q)
