$('#unsubscribe_question_link').html('<a data-method="post" data-remote="true" href="/questions/<%= @question.id %>/subscribe" rel="nofollow">Subscribe</a>');
$('.question').before('<div class="radius label">You have been successfully unsubscribed</div>');
$('.radius').animate({ opacity: "hide" }, 2000);
$(document).ready(ready);
$(document).on('page:load',ready);