$('.votes span').html(<%= @question.rating %>);
$('.vote_up_link').remove();
$('.votes span').before('<div class="vote_up"></div>')
$('.vote_down_link').remove();
$('.votes span').after('<div class="vote_down"></div>')
$(document).ready(ready);
$(document).on('page:load',ready);