<% if @comment.errors.present? %>
    <% @comment.errors.full_messages.each do |message| %>
      $('.comments').after('<div id="new_comment_error"></div>');
      $('#new_comment_error').html('<%= j message %>').animate({ opacity: 'hide'});
    <% end %>
<% else %>
  var parentSelector = '<%= @parent.is_a?(Question) ? ".question" : "##{@parent.id}" %>';
  $(parentSelector + ' .comments').html("<%= j render 'questions/comments', parent: @parent %>");
  $('#comment_answer_'+'<%= @parent.id %>').hide();
  $('.new_comment #comment_body').val('');
  $('#new_comment_error').html('');
  $(document).ready(ready);
  $(document).on('page:load',ready);
<% end %>