Search results for 
%i= params[:search][:query]
- if @questions.empty?
  %br
  No results
- else
  - @questions.each do |question|
    %br
    = link_to highlight(question.title, params[:search][:query].split(' ')), question
