<form accept-charset="UTF-8" action="/answers/{{id}}/comments" class="simple_form comment_form" data-answer-id="{{id}}" data-remote="true" id="comment_answer_{{id}}" method="post" novalidate="novalidate" style="display: none;">
  <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
  <div class="answer_errors" id="answer_errors_1033"></div>
  <div class="input string required comment_body"><input class="string required" id="comment_body" name="comment[body]" type="text"></div>
  <input class="button tiny" name="commit" type="submit" value="Create Comment">
  <input class="button alert tiny" data-answer-id="{{id}}" name="commit" type="submit" value="Cancel">
</form>