<div class="votes">
  <a class="vote_up_link" data-method="post" data-remote="true" href="/answers/{{id}}/votes/vote_up" rel="nofollow"></a>
  <div class="clear" style="clear:both"></div>
  <span>0</span>
  <a class="vote_down_link" data-method="post" data-remote="true" href="/answers/{{id}}/votes/vote_down" rel="nofollow"></a>
  <div class="clear" style="clear:both"></div>
</div>