<div class="votes">
  <div><a class="vote_up_link" data-method="post" data-remote="true" href="/answers/{{id}}/votes/vote_up" rel="nofollow"></a></div>
  <div class="clear" style="clear:both"></div>
  <span>0</span>
  <div><a class="vote_down_link" data-method="post" data-remote="true" href="/answers/{{id}}/votes/vote_down" rel="nofollow"></a></div>
  <div class="clear" style="clear:both"></div>
  <a class="accept" data-method="post" data-remote="true" href="/answers/{{id}}/accept" id="accept_answer_1174" rel="nofollow" title="click to accept" style="display: block;"></a>
</div>