<h3>Please enter your email. It is necessary to be linked with your account.</h3>

<%= form_tag(confirm_auth_path) do -%>
  <%= text_field_tag :email %>
  <div class="form-actions">
    <%= submit_tag "Send confirmation instructions", class: 'button' %>
  </div>
<% end %>
