var parent_selector = '<%= @parent.is_a?(Question) ? '.question' : "##{@parent.id}" %>';
$(parent_selector +' .votes span').html(<%= @parent.rating %>);
$(parent_selector +' .vote_up_link').remove();
$(parent_selector +' .votes span').before('<div class="vote_up"></div>')
$(parent_selector +' .vote_down_link').remove();
$(parent_selector +' .votes span').after('<div class="vote_down"></div>')
$(document).ready(ready);
$(document).on('page:load',ready);